<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/performance">Performance</a>
        <a href="/market-lookup">Market Lookup</a>
        <a href="/transaction-history">Transaction History</a>
    </nav>

    <div class="first-part">
        <p>Total Purse Value: $10000</p>
        <p>Total Portfolio Value: $15000</p>
        <p>Profit/Loss: $237</p>
        <p>Total Change: 4.9%</p>
    </div>

    <div class="second-part">
        <h1>Graph 1</h1>
        <h1>Graph 2</h1>
    </div>

    <div class="third-part">
        <table>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>current price</th>
                <th>total value</th>
                <th>market value</th>
                <th>profit/loss</th>
                <th>% change</th>
                <th>
                    <button>+</button>
                    <button>-</button>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>