<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">Dashboard</a>
        <a th:href="@{/performance}">Performance</a>
        <a th:href="@{/market-lookup}">Market Lookup</a>
        <a th:href="@{/transaction-history}">Transaction History</a>
    </nav>

    <div class="holding data">
        <table>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Investment Value</th>
                <th>Market Value</th>
                <th>Profit/Loss</th>
                <th>% Change</th>
                <th>
                    <button>+</button>
                    <button>-</button>
                </th>
            </tr>
        </table>
    </div>

    <div class="watchlist">
        <table>
            <tr>
                <th>Stock</th>
                <th>Stock Sentiment</th>
                <th>Current Price</th>
                <th>24hr % change</th>
                <th>
                    <button>Buy</button>
                    <button>Remove</button>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>