name: Springboot Jar

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Grant execute permission for mvnw
      run: chmod +x mvnw
      # Just in case permissions were lost. Note: The user project uses Maven Wrapper (mvnw), renaming step for clarity.
      
    - name: Build with Maven
      run: ./mvnw clean package -DskipTests=true -B

    - name: Upload Jar to Artifact
      uses: actions/upload-artifact@v4
      with:
        name: springboot-app-jar
        path: target/*.jar
        retention-days: 5
